---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Mi Portafolio">
  <Navbar />
  <main>
    <Hero />
    <Projects />
    <Contact />
  </main>
</Layout>
